nav{
    background-color:skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    padding: 10px;
    
}
#main-nav{
    display: flex;
    justify-content: center;
   align-items: center;
   padding: 10px;
   margin: 10px;
   
}
a:hover{
    background-color: rgb(48, 128, 155);
    border-radius: 4px;
    padding: 8px;
}
a:link{
    color: antiquewhite;
    font-weight: 800;

}
body{
    background-color: rgb(155, 168, 185);
}
h1{
    text-align: center;
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    border: 2px solid black;
    position: absolute;
    opacity: 0;

}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    transition: 1s;
}
@media only screen and (max-width: 768px) {



    ul {

        flex-direction: column;

    }

}