.site-hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-text{
    color: antiquewhite;
    font-size: larger;
}